.vscode
.github
node_modules
scripts
src
tests
.eslintrc
.eslintignore
jest.config.json
tsconfig.compiler.json
tsconfig.json
docker-compose.yml
*.tgz
.yarn
.pnp.*
.husky
.yarnrc.yml
eslint.config.mjs
CHANGELOG.md
test-install
lefthook.yml
.swcrc
