{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "es2020",
    "loose": false
  },
  "module": {
    "type": "commonjs"
  },
  "sourceMaps": true
}
